<div class="content">
    <header>
        <nav class="navbar">
            <ul class="nav-items-wrapper">
                <li><a id="brand-name" href="/">RateMyLandlord</a></li>
                <li class="search-bar-wrapper">
                    <input class="search-bar" type="text" placeholder="Search landlords by name...">
                </li>
                <li>
                    <div class="nav-actions">
                        <div><a id="login" href="/login">Log In</a></div>
                        <div><a id="signup" href="/signup">Sign Up</a></div>
                        <div><a id="account" href="/account">My Account</a></div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>