.review__info-main {
  display: flex;
  flex-direction: column; }
  .review__info-main .review__rating-container .review__rating {
    display: flex; }
    .review__info-main .review__rating-container .review__rating span:first-child {
      font-size: 68px;
      line-height: 68px; }
    .review__info-main .review__rating-container .review__rating span:last-child {
      margin-left: 6px;
      font-size: 44px;
      line-height: 44px;
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.29); }
  .review__info-main .review__profile {
    margin-top: 52px; }
    .review__info-main .review__profile h1, .review__info-main .review__profile h2 {
      margin: 0;
      padding: 0; }
    .review__info-main .review__profile h2 {
      font-size: 24px; }
      .review__info-main .review__profile h2 span {
        font-size: 24px;
        font-weight: 800; }
    .review__info-main .review__profile .review__profile-rate-btn-container {
      margin: 12px 0; }
      .review__info-main .review__profile .review__profile-rate-btn-container a .review__profile-rate-btn {
        background-color: #00A8E8;
        padding: 0 24px;
        width: 200px;
        text-align: center;
        border-radius: 8px; }
        .review__info-main .review__profile .review__profile-rate-btn-container a .review__profile-rate-btn span {
          font-size: 20px;
          line-height: 2.5;
          color: #fff; }
  .review__info-main .review__properties-managed h3 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 4px; }
  .review__info-main .divider {
    height: 3px;
    width: 85%; }
