<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <%- include ('../partials/styling.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <!-- example of how to include header -->
  <%- include ('../partials/top-nav.ejs') %>

  <div class="apartment-bg-image">
    <h1>
      Test to include header and footer
    </h1>
  </div>


  <!-- example of how to include footer -->
  <%- include ('../partials/footer.ejs') %>
</body>