<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <%- include ('../partials/styling.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <%- include ('../partials/top-nav.ejs') %>

  <div class="apartment-bg-image">

    <div class="outer">
        <div class="account-form">
            <h1>Log In to rate YOUR landlord</h1>
            <div class='container'>
                <form action="#" method="post" target="_blank">
                    <div class="label-input"><label for="ftp-user-name">Email Address</label>
                        <input type="text" placeholder="Enter Email" name="email" required></div>
                    <div class="label-input"><label for="ftp-password">Password</label>
                        <input type="password" placeholder="Enter Password" name="psw" required></div>
                        <button type="submit" class="log-in-btn">Log In</button>
                </form>
            </div>
        </div>
    </div>
    
  </div>


  <%- include ('../partials/footer.ejs') %>
</body>