<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <%- include ('../partials/styling.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <%- include ('../partials/top-nav.ejs') %>

  <div class="apartment-bg-image-signup">

    <div class="account-form">
      <h1>Create an account</h1>
      <div class='container'>
          <form action="/signup" method="post">
            <li><a href="/signup"><a href="/signup">Already have an account?</a><a href="/login" id="form-link"> Log In</a></a></li>
            <div class="label-input">
              <label for="signupUserName">User Name</label>
              <input type="text" placeholder="Enter a User Name" name="signupUserName" id="signupUserName" required>
            </div>
            <div class="label-input">
              <label for="about">About</label>
              <input type="text" placeholder="About you (optional)" name="about" id="aboutUser">
            </div>
            <div class="label-input">
              <label for="about">Tenant/Landlord</label>
              <input type="text" placeholder="are you a tenant or landlord?" name="type" id="aboutType" required>
            </div>
            <div class="label-input">
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password" name="psw" id="signupPass" required>
            </div>
            <div class="label-input">
              <label for="psw-repeat">Repeat Password</label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            </div>
            <button type="submit" class="button">Sign Up</button>
          </form>
      </div>
    </div>

  </div>

  <%- include ('../partials/footer.ejs') %>
</body>