<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <%- include ('../partials/styling.ejs') %>
</head>

<body>
    <%- include ('../partials/top-nav.ejs') %>


    <div id="success-message">
        <div>
            <%= values %> successfully added.
        </div>
        <div>
            <i class="material-icons">check_circle</i>
        </div>

    </div>

    <div>

    </div>



    <%- include ('../partials/footer.ejs') %>
</body>
<script type="text/javascript">

</script>