<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <%- include ('../partials/styling.ejs') %>
</head>

<body>


  <!-- example of how to include header -->
  <%- include ('../partials/top-nav.ejs') %>

  <%= values %>

  <!-- example of how to include footer -->
  <%- include ('../partials/footer.ejs') %>

</body>