.apartment-bg-image {
  background: url(./apartments.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1{
  margin: 0;
  padding: 20px;
  color: #007EA7;
}

/******* search.ejs styling *******/
#search-body{

  height: 100vh;

  h2 {
    margin: 0;
    padding: 20px;
    color: #007EA7;
    text-align: center;
    margin-top: 35px;
    font-size: 50px;
  }

  #search-by {
    font-size: 20px;
    display: flex;
    justify-content: center;
    
  }

  #search-btns{
    display: flex;
    justify-content: space-between;
    width: 240px;
    .btn-small{
      background-color: #1f1f1f;
    }
    i {
      margin-right: 5px;
    }

    a{
      display: flex;
    }

    margin-top: -10px;
    padding: 10px;
    
  }

  #search-txt{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    opacity: 0.8;
  }

  .search-bar{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input {
      width: 300px;
      text-align: center;
      font-size: 20px;
      font-family: 'PT Sans Narrow', 'sans-serif';
      padding: 5px;
    }

    .btn-small{
      background-color: #00A8E8;
      
    }
    form{
      //position: relative;
    display: flex;
    justify-content: center;
    }

    button{
      // position: absolute;
      // right: 0;
      transform: translate(10px, 18px);
      width: 53px;
    }

  }

  .profiles {
    tr {
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: #2a2a2a !important;
        td {
          color: white;
        }
      }
    }
  }

  #ll-not-found{
    text-align: center;
    font-size: 25px;
    color: #1f1f1f;
    a{
      background-color: #00A8E8;
      margin: auto;
      width: 35%;
      font-size: 18px;
    }
  }
}


/******* createNewLLP.ejs styling *******/
#create-new-LLP{

  height: 100vh;
}


/******* landlordProfilePage.ejs styling *******/
#landlord-profile-page{
  height:100vh;
}


